
<h2>Add Invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" >
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
               [(ngModel)] = "invoice.name" >
  </div>
  <div class="form-group">
    <label for="Ampount">Amount</label>
    <input type="text"
            class="form-control"
            id="email"
            name = "email" 
            required
           value = "1000"
            [(ngModel)] = "invoice.amount"
           >  
  </div>
  <button type="submit" class="btn btn-success" (invoiceAddedEvent) = "addInvoice($event)" >Save Invoice</button>
</form>
** בטעות יצרתי את הטופס שמעדכן את פייר בייס תחת אינוויסס, מצורף שם טופס תקין להכנסת הנתונים.
