<div>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <jce-invoice-form-component (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form-component>
 
  <h3>Invoices list:</h3>
   <jce-spinner [visible] = "isLoading"></jce-spinner>
   <i class="fa fa-spinner fa-spin fa-3x"></i>
  <!--<jce-spinner [visible] = "isLoading"></jce-spinner>-->
  <ul class="list-group ">
        <li class="list-group-item" *ngFor = "let invoice of invoices" 
          [class.active]="currentInvoice == invoice"
          (click)="select(invoice)" >
           <jce-invoice [invoice] = invoice> </jce-invoice>
                    
        </li>
  </ul>
</div>

