<div>
  <h3>Products list:</h3>
  <ul class="list-group products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
          (click)="select(product)" >
            <jce-product [product] = product 
             (deleteEvent) = "deleteProduct($event)"></jce-product>          
        
        <ul>
          <li *ngFor = "let name of product.categoryName">
            {{(name | async)?.name}}
          </li>
        </ul> 
      </li>
  </ul>                       
      
  
</div>