<h1>
 Invoices!
</h1>
<nav>
  <a routerLink = "/invoice-form-component">Invoices Form</a> |
  <a routerLink = "/invoices-component">Invoices</a>
  
</nav>

<router-outlet></router-outlet>
<!--<jce-products></jce-products>-->

