<!--<div>
  <h3>Products list:</h3>
  <ul >
        <li class="list-group-item" *ngFor = "let product of products" >
            Name: {{product.name}}, category: {{product.category}}           
        </li>
  </ul>
</div>-->
<div>
  <h3>Products list:</h3>
  <ul class="list-group products">
        <li class="list-group-item" *ngFor = "let product of products" 
          [class.active]="currentProduct == product"
          (click)="select(product)" >
            <jce-product [product] = product 
             (deleteEvent) = "deleteProduct($event)"></jce-product>          
        </li>
  </ul>
</div>